.homeContainer {
  padding-bottom: 125px;
}


.songContainer {
  margin: 20px;
  display: inline-flex;
  gap: 15px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-between;
}

.voirPlusSongs {
  text-align:center;
}

.playerContainer {
  position: fixed;
  bottom : 100px;
  width:100%;
  display: flex;
  justify-content: center;
}